<h1>Logs</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Population</th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.year %></td>
        <td><%= log.population %></td>
      </tr>
    <% end %>
  </tbody>
</table>
